#navbar {
    height:9vh;
    width:98.7vw;
    display:flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0;
    left:0;
    border: rgb(231, 231, 231) solid 3px;
    border-style: solid hidden solid hidden;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
}

#facebook_icons {
    height:8vh;
    width:50vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

#facebook_icons .icon {
    height:8vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2vw;
    padding-right:2vw;
    cursor: pointer;
    color:grey;
}

#facebook_icons #profile {
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2vw;
}

#facebook_settings {
    width:25vw;
    height:8vh;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

#facebook_settings #setting {
    font-size: 1.5vw;
    margin-left: 1vw;
    position: absolute;
    right: 15px;
    top:1vw;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    border-radius: 200px;
}

#facebook_search {
    width:18vw;
    height:8vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2vw;
    margin-left: 20px;
    color:rgb(0, 153, 255);
}

#facebook_search #f_icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

#facebook_search #s_input {
    margin-left: 20px;
    padding-left: 10px;
    font-size: 1.5vw;
    background-color: rgb(231, 231, 231);
    border-radius: 25px;
    height: 4.6vh;
    width: 18vw;
    padding:2px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color:grey;
}

#facebook_search #s_input input {
    padding-left: 10px;
    background-color: rgb(231, 231, 231);
    font-size: 1vw;
    border: none;
}

#facebook_search #s_input input:focus {
    background-color: rgb(231, 231, 231);
    outline: none;
}
